*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}


#puntos{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 50px;
    height: 250px;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}
#puntos span{
    
    display: block;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.849);
    font-size: 50px;
    cursor: pointer;
    
}
#puntos #icon-mail{
    transition: all .3s;
}
#puntos #icon-mail:hover{
   box-shadow: 10px 10px 20px black;
    transform: scale(1.5);
   transition: .2s;
}

#puntos #icon-instagram-circle{
    transition: all .5s;
}
#puntos #icon-instagram-circle:hover{
    box-shadow: 10px 10px 20px black;
    transform: scale(1.5);
    transition: .2s;
}

#puntos #icon-three{
    background-color: white;
    font-size: 55px;
}


